.latestnews_container{
    display: flex;
    /* gap:30px; */
    justify-content: space-between;
    /* border:2px solid blue;  */
    padding:5px
}

.latestnews_container img{
    height: 300px;
    width: 450px;
    border-radius: 10px;
    
}